{% extends "base.html" %}
{% block content %}
        <form action={{ '/table/delete/'+table_name }} method="POST">
            {{ form.hidden_tag() }}
             <h1>Видалити з таблиці {{ table_nameuk }}</h1>
            {% if problem %}
                <div class="alert alert-danger" role="alert">
                    {{ problem }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.name(class="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
            <br>
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
        </form>
{% endblock %}