{% extends "base.html" %}
{% block content %}
    <h1>Підпишіться на нас</h1>
    <p>Для користування даною послугою необхідно оформити падписку</p>
    <br>
    <p>Оберіть карту через котру оформити підписку</p>
    {% if form %}
        <form action="/subscription" method="POST">
            <div class="form-group">
                <div class="text-left">
                    {{ form.card.label }}{{ form.card }}
                </div>
            </div>

            {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
        </form>
    {% endif %}
    <br>
    <a class="btn btn-success" href="/add_card" role="button">Додати карту</a>
{% endblock %}